{{ define "main" }}
<section class="section-sm xl:pb-5 hero">
  <div class="container">
    <div class="row justify-between">
      <div class="md:col-7 lg:col-8">
        <h1 class="mb-4 homepage">
          最簡單的區塊鏈教學
        </h1>
       
        <ul class="list-disc pl-6 ml-3 mb-8 text-lg">
          <li class="relative mb-4 pl-3">
            在這裡不會有最即時的資訊，但會有最白話的文章帶你了解區塊鏈
          </li>
          <li class="relative mb-4 pl-3">
           
            看 <a href="/blog">文章</a> 開始了解區塊鏈的世界
          </li>
          <li class="relative mb-4 pl-3">
            歡迎加入 <a href="https://t.me/theblockspaces" target="_blank">Telegram</a>, 追蹤我!
          </li>
        </ul>
      </div>
      <div class="mb:md-0 md:col-5 lg:col-4 mb-6">
        <div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-7">
          <h3 class="pb-5 text-xl">即將到來的活動</h3>
          {{ $events := where .Site.RegularPages "Section" "workshops" }}
          {{ $upcomingEvents := where $events "Params.upcoming" true }}
          {{ $sortedUpcomingEvents := sort $upcomingEvents "Params.date" }}
          {{ with index $sortedUpcomingEvents 0 }}
          <!-- Display the nearest upcoming event -->
          <div class="mb-0">
            {{ partial "components/session-card" . }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-6 pb-8">
        <h3>近期活動</h3>
      </div>
      <div class="col-6">
        <a href="/events" class="btn btn-primary float-right">探索全部活動</a>
      </div>
      {{ $events := where .Site.RegularPages "Section" "events" }}
      {{ $recentRecordings := slice }}
      {{ $sortedRecentRecordings := sort $events "Params.date" "desc" }}
      {{ range first 3 (where $sortedRecentRecordings "Params.upcoming" "ne" "true") }}
      <div class="md:col-12 lg:col-4 mb-14">
        {{ partial "components/session-card" . }}
      </div>
      {{ end }}
    </div>
    <div class="row">
      <div class="col-6 pb-8">
        <h3>近期文章</h3>
      </div>
      <div class="col-6">
        <a href="/blog/" class="btn btn-primary float-right">探索全部文章</a>
      </div>
      {{ $events := where .Site.RegularPages "Section" "blog" }}
      {{ $recentRecordings := slice }}
      {{ $sortedRecentRecordings := sort $events "Params.date" "desc" }}
      {{ range first 4 $sortedRecentRecordings }}
      <div class="md:col-12 lg:col-3 mb-14">
        {{ partial "components/blog-card" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
